<%- partial ('../common/index-header.ejs') %>
<div class="container">
	<div>
		<ul class="nav nav-tabs">
			<li class="<% if (active == 'active') { %>active<%}%>">
				<a href="/repository">
				<span>Đã kích hoạt</span>
				</a>
			</li>
			<li class="<% if (active == 'waiting') { %>active<%}%>">
				<a href="/repository/waiting">
				<span>Đang chờ xét duyệt</span>
				</a>
			</li>
			<li class="<% if (active == 'reject') { %>active<%}%>">
				<a href="/repository/reject">
				<span>Bị từ chối</span>
				</a>
			</li>

			<li class="<% if (active == 'save') { %>active<%}%>">
				<a href="#">
					<span>Tiếp tục khóa học</span>
				</a>
			</li>

			<li>
				<a href="/new-course" class="btn btn-facebook color-fff" href="#">
				<span><i class="fa fa-plus-circle" aria-hidden="true"></i> Tạo khóa học mới</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- EJS -->
	<% if (active == 'waiting') { %>
	<div class="row mg-top-10">
		<!-- EJS -->
		<% for(var i=0; i < courses.length; i++) { %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="/repository/edit/<%= courses[i].id %>" class="thumbnail relative text-decoration-none">
				<img src="<%= courses[i].picture%>" class="img-responsive" alt="" />
				<h5 class="course-title"><%= courses[i].name%></h5>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6">
							<div class="course-sale">
								<!-- EJS -->
								<% if(courses[i].price < courses[i].oldPrice) { %>
								<span class="old-price">Giá cũ: {{'<%= courses[i].oldPrice%>'| vnd}}</span>
								<%}%>
								<!-- EJS END -->
								<span class="new-price">{{'<%= courses[i].price%>'| vnd}}</span>
							</div>
						</div>
					</div>
				</div>
				<!-- EJS -->
				<% if(courses[i].price < courses[i].oldPrice) { %>
				<span class="label label-sale">{{'<%= courses[i].oldPrice%>-<%= courses[i].price%>'| pricepercent}}</span>
				<%}%>
			 </a>
		</div>
		<% } %>
		<!-- EJS END -->
	</div>
	<% } %>
	<!-- EJS END -->
	<% if (active == 'active') { %>
	<div class="row mg-top-10">
		<!-- EJS -->
		<% for(var i=0; i < courses.length; i++) { %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="/repository/edit/<%= courses[i].id %>" class="thumbnail relative text-decoration-none">
				<img src="<%= courses[i].picture%>" class="img-responsive" alt="" />
				<h5 class="course-title"><%= courses[i].name%></h5>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6">
							<div class="course-sale">
								<!-- EJS -->
								<% if(courses[i].price < courses[i].oldPrice) { %>
								<span class="old-price">Giá cũ: {{'<%= courses[i].oldPrice%>'| vnd}}</span>
								<%}%>
								<!-- EJS END -->
								<span class="new-price">{{'<%= courses[i].price%>'| vnd}}</span>
							</div>
						</div>
					</div>
				</div>
				<!-- EJS -->
				<% if(courses[i].price < courses[i].oldPrice) { %>
				<span class="label label-sale">{{'<%= courses[i].oldPrice%>-<%= courses[i].price%>'| pricepercent}}</span>
				<%}%>
			 </a>
		</div>
		<% } %>
		<!-- EJS END -->
	</div>
	
	<% } %>
	<!-- EJS END -->
	<% if (active == 'reject') { %>
	<div class="row mg-top-10">
		<!-- EJS -->
		<% for(var i=0; i < courses.length; i++) { %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="/repository/edit/<%= courses[i].id %>" class="thumbnail relative text-decoration-none">
				<img src="<%= courses[i].picture%>" class="img-responsive" alt="" />
				<h5 class="course-title"><%= courses[i].name%></h5>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
						</div>
						<div class="col-xs-6">
							<div class="course-sale">
								<!-- EJS -->
								<% if(courses[i].price < courses[i].oldPrice) { %>
								<span class="old-price">Giá cũ: {{'<%= courses[i].oldPrice%>'| vnd}}</span>
								<%}%>
								<!-- EJS END -->
								<span class="new-price">{{'<%= courses[i].price%>'| vnd}}</span>
							</div>
						</div>
					</div>
				</div>
				<!-- EJS -->
				<% if(courses[i].price < courses[i].oldPrice) { %>
				<span class="label label-sale">{{'<%= courses[i].oldPrice%>-<%= courses[i].price%>'| pricepercent}}</span>
				<%}%>
			 </a>
		</div>
		<% } %>
		<!-- EJS END -->
	</div>
	<% } %>
	<!-- EJS END -->
</div>
<!-- /.container -->
<!--Footer -->
<%- partial ('../common/footer.ejs') %>
</div>